<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title), yield(:subpage_title)) %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "custom", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    </head>
  <body>
   <%= render 'layouts/lifeguard_header' %>
   <div class="mainContaiter">
     <%= yield %>
     </div>
   <%= render 'layouts/footer' %>
   </body>
  </html>
